{% extends "base.html" %}
{% load static %}

{% block title %}Технологии{% endblock %}

{% block content %}
<div class="row">
  <h1>Технологии</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <img src="{% static 'img/python_logo.png' %}" width="30" height="25" class="d-inline-block align-top">
        Python
      </li>
      <li class="list-group-item">
        <img src="{% static 'img/dj_logo.png' %}" width="25" height="25" class="d-inline-block align-top">
        Django
      </li>
      <li class="list-group-item">
        SQL
      </li>
      <li class="list-group-item">
        <img src="{% static 'img/html_logo.png' %}" width="20" height="25" class="d-inline-block align-top">
        HTML
      </li>
      <li class="list-group-item">
        <img src="{% static 'img/CSS_logo.png' %}" width="25" height="25" class="d-inline-block align-top">
        CSS
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
      <li class="list-group-item">
        Git
      </li>
    </ul>
  </aside>
</div>
{% endblock %} 